.page-header{
	margin: 0px;
	border-bottom-width:0px;
}
.margin-tb{
	margin-bottom: 15px;
    margin-top: 15px;
}

form.form-filter {
    overflow: hidden;
    margin-bottom: 10px;
}
form.form-filter fieldset {
    border: 1px solid #E5E5E5;
    margin: 0;
    padding: 10px;
}
form.form-filter fieldset legend {
    border: medium none;
    color: #333333;
    line-height: 20px;
    margin: 0;
    width: auto;
}
form.form-filter ul.search {
    clear: both;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
form.form-filter ul.search li {
    float: left;
    /*width: 230px;*/
    padding-right: 10px;
    margin-bottom: 5px;
}
form.form-filter ul.search li label
{
    display: block;
}
form.form-filter ul.search li.action {
    margin-top: 25px;
}
.error{
    color: #A94442;
}

.filter-out{
    display: none;
}
.filter-in{
    display: block;
}
.form-lable{
    font-weight: bold;
}
.preview img{
    width:500px;
    height: 500px;
}
.coordinate-radio{
    border-bottom: 2px solid #EEEEEE;
    border-top: 2px solid #EEEEEE;
}