html,
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	background-color:#fff;
	color:#328D97;
	border:1px solid #328D97; 
	font-weight: bold;
	z-index: 999999;
	border-radius: 0px;
}
.search-text, .btn-search{
	border-radius: 0px;
}
.search-text input[type=text] {
  	width: 70%;
    -webkit-transition: width .35s ease-in-out;
  	transition: width .35s ease-in-out;
	border-radius: 0px;
	float: right;
}
.search-text input[type=text]:focus {
  width: 100%;
}
.header{
	background: #fff;
	height: auto;
}
.logo{
	/*text-align: center;*/
	padding: 15px 0px;
}
.logo a{
	text-decoration: none;
}
.logo span{
	color: #5a5a5a;
	margin-left: 40px;
	border-bottom: 1px solid #000;
}
.logo h2{
	color: #328D97;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}

.search-header{
	padding-top: 25px;
	overflow: hidden;
}

.menu{
	background: #1A1F23;
	height: auto;
}
.categorys{
	background: #328D97;
	height: 100%;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding: 16px 10px;
}
.categorys h2{
	font-size: 18px;
	margin: 0px;
	font-weight: bold;
}
.categorys span{
}
.main-menu nav{
	height: auto;
}
.main-menu nav ul{
	padding: 0px;
	margin: 0px;
	background: #1A1F23;
}
.main-menu nav ul li{
	float: left;
	list-style: none;
}
.main-menu nav ul li a{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	margin: 0px 5px;
	transition: 0.3s ease;
  	color: #ffffff;
  	text-decoration: none;
  	padding: 0px 10px;
  	line-height: 52px;
}
.main-menu nav ul li .active{
	color: #08C6C9;
	border-top: 2px solid #ffffff;
  	border-bottom: 2px solid #ffffff;
  	padding: 6px 10px;
}
.main-menu nav ul li:hover > a{
	color: #08C6C9;
	border-top: 2px solid #ffffff;
  	border-bottom: 2px solid #ffffff;
  	padding: 6px 10px;
}

.page-content{
	background: red;
	background: url('../images/bgimage.jpg');
	padding-bottom: 50px;
}
.page-content-left{
	background: #fff;
	padding: 0px;
	padding-bottom: 15px;
	border-bottom: 3px solid #328D97;
}
.page-content-left a{
	display: block;
	margin: 2px 0px;
	padding: 5px 10px;
	text-decoration: none;
	color: #5a5a5a;
	border-bottom: 1px dotted #c1c1c1;
	font-size: 17px;
}
.page-content-left a img{
	width: 35px;
	position: relative;
	top: -5px;
	float: right;
}
.page-content-left span{
	padding-right: 5px;
	color: #328D97;
}
.page-content-left a:hover{
	color: #328D97;
}
.page-content-left a:hover > span{
	font-weight: bold;
}
.page-content-right{
	margin-top: 10px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  background-image: -moz-linear-gradient(left, #328D97, #328D97 12.5%, #000 12.5%, #000 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #000 75%, #000 87.5%, #328D97 87.5%, #328D97);  
  background-image: -webkit-linear-gradient(left, #328D97, #328D97 12.5%, #000 12.5%, #000 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #000 75%, #000 87.5%, #328D97 87.5%, #328D97);
  background-image: -o-linear-gradient(left, #328D97, #328D97 12.5%, #000 12.5%, #000 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #000 75%, #000 87.5%, #328D97 87.5%, #328D97);
  background-image: linear-gradient(to right, #328D97, #328D97 12.5%, #000 12.5%, #000 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #000 75%, #000 87.5%, #328D97 87.5%, #328D97);
}
.headding{
	background: #fff;
	margin: 0px;
	box-shadow: 0px 1px 1px 0px #E6E6E6;
}
.headding div{
	padding: 0px;
}
.headding h4{
	padding-left: 10px;
	color: #1A1F23;
	font-weight: bold;
}
.headding hr{
	margin: 0px;
}
.footer{
	background: #1A1F23;
	border-top: 3px solid #328D97;
	padding-top: 10px;
}
.footer h4{
	border-bottom: 1px solid #fff;
	color: #328D97;
	font-weight: bold;
}
.footer-menu{
	padding: 0px;
}
.footer-menu li{
	list-style: none;
	font-size: 17px;
}
.footer-menu li a, .footer-category li a{
	color: #fff;
}
.footer-category li a span, .footer-menu li a span{
	color: #328D97;
	margin-right: 5px;
}
.footer-bottom{
	background: #328D97;
	margin-top: 50px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.footer-bottom p{
	padding: 10px 0px;
	margin: 0px;
}
.footer-category-main{
	height: auto;
	overflow: hidden;
}
.footer-category{
	padding: 0px;
}
.footer-category li{
	list-style: none;
	width: 50%;
	float: left;
	font-size: 17px;
}

/*Post Design Start*/
.grid{
	margin: 15px 0px;
	padding: 3px;
	box-shadow: 0px 0px 1px 0px #c1c1c1;
	background: #fff;
	font-size: 17px;
}
.grid figure img {
	width: 100%;
	height: 410px;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #328D97;
	color: #fff;
}
.grid figcaption span{
}

.grid figcaption a {
	text-align: center;
	padding: 5px;
	display: inline-block;
	background: #1A1F23;
	color: #fff;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.details-box{
	background: #fff;
	border:1px solid #E6E6E6;
	box-shadow: 0px 0px 2px 1px #E6E6E6;
	margin: 15px 0px;
	padding: 15px 0px;
}
.desc-details{
	text-align: justify;
}
.details-img img{
	width: 100%;
	padding: 3px;
    box-shadow: 0 0 1px 0 #c1c1c1;
}
.details-text input{
	border-radius: 0px;
}
.details-text label{
	color: #328D97;
}
.details-text-btn button{
	border-radius: 0px;
	border:1px solid #328D97;
	color: #fff;
	font-weight: bold;
	background: #328D97;
}
.details-text-btn button:hover{
	background: #337D84;
	color: #fff;
}
.details-text-btn a{
	border-radius: 0px;
	border:1px solid #E55C50;
	color: #fff;
	font-weight: bold;
	background: #E55C50;
}
.details-text-btn a:hover{
	background: #E55042;
	color: #fff;
}
.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget span iframe{
    width: 100% !important;
}
.fb-comments{
    background: #fff;
    border:1px solid #E6E6E6;
    box-shadow: 0px 0px 2px 1px #E6E6E6;
}
.contact-icon{
    padding: 5px 15px;
}
.contact-icon span{
    color: #328D97;
}
.contact-form{
    
}
.contact-form input, .contact-form textarea{
    border-radius: 0px;
}
.contact-form sup{
    color: red;
}
.contact-details h4, .contact-form h4{
    border-bottom: 2px solid #328D97;
}
.parsley{
	border-radius: 0px;
	padding: 5px 15px;
	margin-bottom: 0px;
}
.footer-sosial img{
	width: 80%;
	padding: 5px;
	background: #fff;
}
.footer-sosial img:hover{
	padding: 0px;
	transition:all 0.8s ease 0s;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}
.pagination > li > a, .pagination > li > span, .pagination .disabled span{
	color:#328D97; 
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination .disabled span:hover{
	color:#328D97; 
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	background-color: #328D97;
	border-color: #328D97;
}
.mobile-menu{
	display: none;
}


.leftSide-add{
	margin: 15px 0px;
}

.pageContent-add{
	margin:15px 0px 0px 0px;
}
