@media (max-width: 480px) {
    .details-box-mobi{
        display: none;
    }
}
@media (max-width: 360px) {
    #brand{
        float: left;
        width: 80%;
        overflow: hidden;
    }
    #brand img{
        width: 100%
    }
    .main-contant{
        margin-top: 0px;
    }
    .navbar-toggle{
        margin-top: 22px;
    }
    #navbar{
        border: 1px scroll #fff;
        float: left;
        width: 100%;
        margin:0px;
    }
    .top-header{
        display: none;
    }
    .footer-sosial-mobi{
        width: 50%;
        float: left;
    }
    .footer-sosial-mobi img{
        width: 50%;
    }
    .footer-category li{
        width: 100%;
    }
    .page-content-left{
        display: none;
    }
    .search-header{
        padding-top: 0px;
    }
    .categorys{
        display: none;
    }
    .menu{
        margin: 15px 0px 5px 0px; 
        padding: 5px 0px;
    }
    .mobile-menu{
        display: block;
        color: #fff;
        font-weight: bold;
        width: 90%;
        margin: auto;
        cursor: pointer;
        font-size: 17px;

    }
    .main-menu{ 
        z-index: 1001;
        width: 100%;
    }
    .main-menu nav{
        position: relative;
        display: none;
        height: 210px;
    }
    .main-menu nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%; 
        top: 5px;
        position: absolute;
    }

    .main-menu nav ul li{ 
        font-weight: bold;
        width: 100%;
        text-align: left;
        padding: 5px;
        margin: 5px 0px;
        cursor: pointer;

    }
    .main-menu nav ul li a{
        display: block;
        line-height: 15px;
    } 
}