a:hover{
	text-decoration: none;
}
.portfolio-item img{
	height: 300px;
	width: 275px;
	padding: 2px;
	border: 1px solid #DDDDDD;
}
.cat-title{
	margin-top: 0px;
}
.page-heading{
	font-size: 20px;
	background: #222222 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
    margin-bottom: 24px;
    padding: 15px;
}

.pagination{
	margin: 0px;
}

footer {
    margin: 15px 0;
}

.details-img img{
	border: 1px solid #DDDDDD;
    padding: 2px;
}

.filled{
	margin-top: 5px;
}

.filled .alert-danger{
	padding: 5px;
	margin-bottom: 0px;
}